div.page_view {
    display: none;
}

button.nav_button {
    border: none;
    background: transparent;
}

div.pdf_preview {
    width:auto;
    height: fit-content;
}

div#bankstatement_view {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
div#bankstatement_view embed {
    height: 450px;
    width: 350px;
}
div#bankstatement_view div{
    margin: 10px;
}

form#diagnose_form {
    display: none;
}

html, body {
    overflow: auto;
    min-height: 100vh;
}

input:focus {
    background-position: 0 0;
}

div#parse_value_panel{
    display: none;
}