{% extends "ExpenseTracker/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

<div class="page_view" id="home_view">
    This is home page
</div>
<div id="bankstatement_view" class="bg-transparent">
    <div class="embed-responsive embed-responsive-21by9 pdf_preview border focus:shadow-outline rounded" id="pdf_preview">
        <embed class="embed-responsive-item" ></embed>
    </div>
    <div class="embed-responsive embed-responsive-21by9 border  rounded" id="parsed_result_div">
      <embed id="parsed_result_preview"></embed>
    </div>
    <div>
        <form id="bankstatement_form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {% crispy form %}  
        </form>
        <div id="parse_value_panel">
          <table class="table-auto">
            <thead>
              <tr>
                <th>Bank</th>
                <th>Transaction Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >BCA</td>
                <td >ABADS ASDBBDSA ASDKSADKDSA BADSKASD </td>
            </tbody>
          </table>
        </div>  
        <form id="diagnose_form">  
          {% csrf_token %}  
          {{ diagnose_form|crispy }}  
          <button type="submit" class="btn btn-primary" value="Submit">
        </form>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id ="submit_parsed_data">
          Submit
        </button>  
    </div>
</div>
<div class="page_view" id="guide_view">
    This is guide page
</div>
<div class="page_view" id="expensetracker_view">
    This is expense tracker page
</div>
<!-- <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_popup_title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_popup_body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Ok!</button>
        </div>
      </div>
    </div>
  </div> -->
{% endblock content %}

{% block script %}
    {{ show_pdf|json_script:"show_pdf" }}
    <script>
     var bankStatementUrl = "{% url 'process_bankstatement' %}";
    </script>
    <script src="{% static 'ExpenseTracker/utils.js' %}"></script>
    <script src="{% static 'ExpenseTracker/ExpenseTracker.js' %}"></script>
{% endblock %}
