{% extends "ExpenseTracker/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block body %}

<div class="page_view" id="home_view">
    This is home page
</div>
<div id="bankstatement_view">
    <div class="embed-responsive embed-responsive-21by9 pdf_preview border  rounded">
        <embed class="embed-responsive-item" id="pdf_preview"></embed>
        <canvas id="highlighted_pdf_preview"></canvas>    
    </div>
    <div>
        {{message}}
        <form method="POST" id="bankstatement_form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {{ form|crispy }}  
            <button type="submit" class="save btn btn-default">Save</button>  
        </form>  
    </div>
</div>
<div class="page_view" id="guide_view">
    This is guide page
</div>
<div class="page_view" id="expensetracker_view">
    This is expense tracker page
</div>
{{show_uploaded_pdf}}
{% endblock %}

{% block script %}
    {{ show_diagnose_pdf|json_script:"show_diagnose_pdf" }}
    {{ show_uploaded_pdf|json_script:"show_uploaded_pdf" }}

    <script src="{% static 'ExpenseTracker/ExpenseTracker.js' %}"></script>
{% endblock %}
