{% extends "ExpenseTracker/layout.html" %}

{% block content %}

<!-- <h2 class="text-2xl font-bold mb-4">Register</h2>

{% if message %}
    <div>{{ message }}</div>
{% endif %}

<form action="{% url 'register' %}" method="post">
    
    <div class="mb-4">
        <input class="border border-gray-300 rounded-md py-2 px-4 w-full" type="username" name="username" placeholder="Username">
    </div>
    <div class="mb-4">
        <input class="border border-gray-300 rounded-md py-2 px-4 w-full" type="email" name="email" placeholder="Email Address">
    </div>
    <div class="mb-4">
        <input class="border border-gray-300 rounded-md py-2 px-4 w-full" type="password" name="password" placeholder="Password">
    </div>
    <div class="mb-4">
        <input class="border border-gray-300 rounded-md py-2 px-4 w-full" type="password" name="confirmation" placeholder="Confirm Password">
    </div>
    <input class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md" type="submit" value="Register">
</form> -->

	<!-- COMPONENT CODE -->
	<div class="container mx-auto my-4 px-4 lg:px-20">
        <form action="{% url 'register' %}" method="post">
            
		<div class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl">
			<div class="flex">
				<h1 class="font-bold uppercase text-5xl">Send us a <br /> message</h1>
			</div>
			<div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
                <input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="username" name="username" placeholder="Username" />
				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="email" name="email" placeholder="Email" />
				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="password" name="password" placeholder="Password" />
                <input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="password" name="confirmation" placeholder="Confirm Password" />

				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="username"  placeholder="First Name*" />
				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" placeholder="Last Name*" />
				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="email" placeholder="Email*" />
				<input class="w-full bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="number" placeholder="Phone*" />
        </div>
				<div class="my-4">
					<textarea placeholder="Message*" class="w-full h-32 bg-gray-50 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
				</div>
                <p class="mt-4">Already have an account? <a href="{% url 'login' %}" class="text-green-500">Log In here.</a></p>

				<div class="my-2 w-1/2 lg:w-1/4">
					<button class="uppercase text-sm font-bold tracking-wide bg-green-700 text-gray-100 p-3 rounded-lg w-full 
                      focus:outline-none focus:shadow-outline">
            Send Message
          </button>
				</div>
			</div>
        </form>
			<div
				class="w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-green-700 rounded-2xl">
				<div class="flex flex-col text-white">
					<h1 class="font-bold uppercase text-4xl my-4">Drop in our office</h1>
					<p class="text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
						tincidunt arcu diam,
						eu feugiat felis fermentum id. Curabitur vitae nibh viverra, auctor turpis sed, scelerisque ex.
					</p>

					<div class="flex my-4 w-2/3 lg:w-1/2">
						<div class="flex flex-col">
							<i class="fas fa-map-marker-alt pt-2 pr-2" />
            </div>
        </div>
      </div>
    </div>
    <!-- COMPONENT CODE -->

{% endblock content%}